form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 5% auto;
    gap: 20px;
}

button {
    border-style: none;
    border-bottom: 1px solid white;
    width: fit-content;
    font-size: 20px;
    margin: 30px auto;
    padding: 5px;
    background-color: var(--bgBlue);
}

button:hover {
    border: 2px solid #01c9df;
    border-radius: 15px;
    color: #01c9df;
}

#username {
    margin-bottom: 5px;
}

.settings {
    background-color: var(--bgBlue);
}

ul {
    background-color: var(--lighterBlue);
}

#categories, #difficulties, #qtype {
    color: whitesmoke;
}
