*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1{
    font-size:40px;
    text-align: center;

}



#join-button{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

#join{
    margin: 10px;
}

#username,#roomname{
    padding: 5px;
    margin: 5px;
}

#players{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
