*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1{
    font-size:40px;
    text-align: center;

}



#join-button{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

#join{
    margin: 10px;
}

#username,#roomname{
    padding: 5px;
    margin: 5px;
}

#players{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Room {
    margin-top:20vh;
    background-color: var(--bgBlue);
}

#room, #Room {
    padding-top: 20px;
}

#questions {
background-color: var(--bgBlue);
}

.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-div>button{
    padding: 10px;
    margin: 10px;
}

#questions > li{
    font-size: 30px;
    text-align: center;
}
#players > p{
    font-size: 20px;
    margin: 5px;
}
#players > li{
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    
}
#players > ul{
    background-color: var(--bgBlue) ;
    
}

#join-button > h1{
    
    margin: 5px;
    padding: 5px;
}

#questions > h2{
    font-size: 30px;
}

#questionnum {
    font-size: 40px;
}