form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 5% auto;
    gap: 20px;
}

button,#setting {
    border-style: none;
    border-bottom: 1px solid white;
    width: fit-content;
    font-size: 20px;
    margin: 30px auto;
    padding: 5px;
    background-color: var(--bgBlue);
}

button:hover {
    border: 2px solid #01c9df;
    border-radius: 15px;
    color: #01c9df;
}

#username {
    margin-bottom: 5px;
}

.settings {
    background-color: var(--bgBlue);
    margin-top: 10vh;
}

ul , #setting {
    background-color: var(--lighterBlue);
}

#categories, #difficulties, #qtype {
    color: whitesmoke;
}

a{
    text-decoration: none;
}

h2 , #settings{
    text-align: center;
    margin-top: 50px;
    padding: 30px;
}

.back {
    margin-left: 40px;
}
